Repository Seifeldin-Ahmed/Social-Media-Platform, pull requests merged in 2024-08, with the labels that each got.

#3 backend/feat/1/implementing_login_n_signup_on_the_backend
  .gitignore
  Backend/app.js
  Backend/controllers/auth.js
  Backend/images/female.jpg
  Backend/images/male.jpg
  Backend/models/user.js
  Backend/package.json
  Backend/routes/auth.js
Labels: backend, nodejs, auth

#5 backend/feat/4/add_forget_password_functionality
  Backend/app.js
  Backend/controllers/auth.js
  Backend/middleware/is_auth.js
  Backend/models/user.js
  Backend/package.json
  Backend/routes/auth.js
Labels: backend, auth

#7 frontend/feat/2/implementing_login_n_signup_on_the_frontend
  .gitignore
  Frontend/README.md
  Frontend/eslint.config.js
  Frontend/index.html
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/postcss.config.js
  Frontend/public/vite.svg
  Frontend/src/App.css
  Frontend/src/App.jsx
  Frontend/src/Components/Home/Home.jsx
  Frontend/src/Components/Layout/Layout.jsx
  Frontend/src/Components/Navbar/Navbar.jsx
  Frontend/src/Components/Signin/Signin.jsx
  Frontend/src/Components/Signup/Signup.jsx
  Frontend/src/assets/react.svg
  Frontend/src/index.css
  Frontend/src/main.jsx
  Frontend/tailwind.config.js
  Frontend/vite.config.js
Labels: frontend, react js, auth

#8 backend/refactor/6/modify_forget_password_functionality
  Backend/controllers/auth.js
  Backend/routes/auth.js
Labels: backend, auth
